@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

html,
body {
  height: 100vh;
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 45px 40px;
}

header {
  height: 50px;
  background: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display";
}

.header_text {
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
}

.globe_svg {
  width: 24px;
  padding-top: 6.2px;
}

article.journal-entry {
  display: flex;
}

article.journal-entry .marker {
  /* width: 7px; */
  margin-right: 4px;
}
article.journal-entry .main-image-container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
}

.main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info-container span.country {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-right: 12px;
}

.info-container a {
  color: #2b283a;
  font-size: 0.7rem;
}

.info-container a:visited {
  color: #918e98;
}

.info-container h2.entry-title {
  margin-top: 7px;
  margin-bottom: 17px;
}

.info-container p.trip-dates {
  font-weight: bold;
}

.info-container p.entry-text {
  line-height: 1.5;
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
