@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Playfair Display", "Inter", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  height: 50px;
  background: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_text {
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
}

.globe_svg {
  width: 24px;
  padding-top: 6.2px;
}
